nav.navbar {
    background-color: #121e30 !important;
    /* Arka plan rengi */
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Metin rengi */
}

.navbar-nav .nav-link:hover {
    color: #6d6649;
    /* Fare üzerine gelindiğinde metin rengi */
}



input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}



body {
    font-family: Arial, sans-serif;
    background-image: url(bgbeyaz.jpeg);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#filmInput {
    margin: 10vh 20px 10px 20px; /* Yukarıdan 10vh, sağdan ve soldan 20px, alttan 10px */
    display: block;
    padding: 8px;
    width: 25%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    display: block;
    margin-left: 8vh;
    margin: 8vh 20vh; /* Yukarıdan ve alttan 10px, sağdan ve soldan 20px */
    padding: 2vh 6vh;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#movieInfo {
    margin: 20px auto ;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-top: 5vh;
}

#movieInfo h2 {
    color: #333;
    margin-bottom: 10px;
}

#movieInfo p {
    margin-bottom: 5px;
    color: #666;
}