body{
background-image: url(bgbeyaz.jpeg);
}

.iletisim-baslık{
color: beige;
}
label{
    color: beige;
}
.form-box{
    width: 450px;
    margin: 0 auto;
    background-color: #121e30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav.navbar {
    background-color: #121e30 !important; /* Arka plan rengi */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Metin rengi */
}

.navbar-nav .nav-link:hover {
    color: #6d6649; /* Fare üzerine gelindiğinde metin rengi */
}