.card{
width: 40%;
height: 400px;
display: inline-block;
}
.table-container {
    max-height: 400px; /* Belirlediğiniz bir yükseklik */
    overflow-y: auto; /* Dikey kaydırma çubuğunu göster */
    color: #121e30;
}

.table {
    background-color: #121e30; /* Tablonun arka plan rengi */
    color: white; /* Metin rengi */
}
.thead-dark {
    background-color: #2a3b4c; /* Başlık satırının arka plan rengi */
}
.table-bordered {
    border: 2px solid #3e4f61; /* Tablonun kenar rengi */
}
.table-hover tbody tr:hover {
    background-color: #3e4f61; /* Satır üzerine gelindiğinde değişen arka plan rengi */
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
#carouselExampleCaptions{
width: 40%;
height: 200px;

}
body{
    background-image: url(bgbeyaz.jpeg);
}
nav.navbar {
    background-color: #121e30 !important; /* Arka plan rengi */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Metin rengi */
}

.navbar-nav .nav-link:hover {
    color: #6d6649; /* Fare üzerine gelindiğinde metin rengi */
}