.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ilkogretim-ozellikler,
.sfl-ozellikler {
    background-color: #121e30;
    height: 400px;
    width: 45%;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.ilkogretim-ozellikler p,
.sfl-ozellikler p {
    color: beige;
}

.sau-ozellikler,
.ortaogretim-ozellikler {
    background-color: #121e30;
    height: 400px;
    width: 45%;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
   
}

.sau-ozellikler p,
.ortaogretim-ozellikler p {
    color: beige;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-size: cover;
    background-image: url(bgbeyaz.jpeg);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-position: center;
}

nav.navbar {
    background-color: #121e30 !important;
    /* Arka plan rengi */
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Metin rengi */
}

.navbar-nav .nav-link:hover {
    color: #6d6649;
    /* Fare üzerine gelindiğinde metin rengi */
}