
    #carouselExampleCaptions {
        margin-top: 20vh; /* Üstten 20 piksel mesafe */
        width: 75%; /* Genişlik: Sayfanın %75'ini kaplayacak şekilde */
        margin-left: auto; /* Sağdan ve soldan otomatik hizalama */
        margin-right: auto; /* Sağdan ve soldan otomatik hizalama */
        width: 50% ;
        height: 100vh;
    }
.carousel-item img{
max-width: 1200px;
max-height: 450px;
}

nav.navbar {
    background-color: #121e30 !important;
    /* Arka plan rengi */
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Metin rengi */
}

.navbar-nav .nav-link:hover {
    color: #6d6649;
    /* Fare üzerine gelindiğinde metin rengi */
}

body {
    background-image: url(bgbeyaz.jpeg);
}

.sapanca-ozellikler{
    background-color: #121e30;
    border-radius: 10px;
    /* Kenarları ovalleştirmek için piksel değeri belirtin */
    overflow: hidden;
    /* İçeriğin oval çerçeveden taşmasını engellemek için gerekli */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-height: 250vh;

}


.beskopru-ozellikler,
.acarlar-ozellikler,
.maden-ozellikler {
    background-color: #121e30;
    border-radius: 10px;
    /* Kenarları ovalleştirmek için piksel değeri belirtin */
    overflow: hidden;
    /* İçeriğin oval çerçeveden taşmasını engellemek için gerekli */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 75%;
    max-height: 250vh;
    
}
.yazı-ozellikler{
    color: beige;
}
